USE [master]
GO
/****** Object:  Database [Biblioteca]    Script Date: 28/01/2026 8:17:10 ******/
CREATE DATABASE [Biblioteca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Biblioteca', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Biblioteca.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Biblioteca_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Biblioteca_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Biblioteca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Biblioteca]
GO
/****** Object:  Table [dbo].[Autores]    Script Date: 28/01/2026 8:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autores](
	[id_autor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[nacionalidad] [varchar](50) NULL,
	[fecha_nacimiento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_autor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 28/01/2026 8:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[id_libro] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](150) NOT NULL,
	[id_autor] [int] NULL,
	[isbn] [varchar](20) NULL,
	[anio_publicacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 28/01/2026 8:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[id_prestamo] [int] IDENTITY(1,1) NOT NULL,
	[id_libro] [int] NULL,
	[id_usuario] [int] NULL,
	[fecha_prestamo] [date] NOT NULL,
	[fecha_devolucion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_prestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 28/01/2026 8:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[email] [varchar](100) NULL,
	[fecha_nacimiento] [date] NULL,
	[fecha_registro] [date] NULL,
 CONSTRAINT [PK__Usuarios__4E3E04ADA020E957] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Autores] ON 

INSERT [dbo].[Autores] ([id_autor], [nombre], [nacionalidad], [fecha_nacimiento]) VALUES (1, N'María Dueñas Vinuesa', N'Española', CAST(N'1964-04-14' AS Date))
INSERT [dbo].[Autores] ([id_autor], [nombre], [nacionalidad], [fecha_nacimiento]) VALUES (2, N'Dolores Redondo', N'Española', CAST(N'1969-02-01' AS Date))
INSERT [dbo].[Autores] ([id_autor], [nombre], [nacionalidad], [fecha_nacimiento]) VALUES (3, N'Lorenzo Silva Amador', N'Española', CAST(N'1966-06-07' AS Date))
SET IDENTITY_INSERT [dbo].[Autores] OFF
SET IDENTITY_INSERT [dbo].[Libros] ON 

INSERT [dbo].[Libros] ([id_libro], [titulo], [id_autor], [isbn], [anio_publicacion]) VALUES (1, N'Cien años de soledad', 4, N'9780307474728', 1967)
INSERT [dbo].[Libros] ([id_libro], [titulo], [id_autor], [isbn], [anio_publicacion]) VALUES (2, N'El amor en los tiempos del cólera', 4, N'9780307387790', 1985)
INSERT [dbo].[Libros] ([id_libro], [titulo], [id_autor], [isbn], [anio_publicacion]) VALUES (3, N'La casa de los espíritus', 5, N'9781501117015', 1982)
SET IDENTITY_INSERT [dbo].[Libros] OFF
SET IDENTITY_INSERT [dbo].[Prestamos] ON 

INSERT [dbo].[Prestamos] ([id_prestamo], [id_libro], [id_usuario], [fecha_prestamo], [fecha_devolucion]) VALUES (1, 1, 3, CAST(N'2023-01-15' AS Date), CAST(N'2023-01-29' AS Date))
INSERT [dbo].[Prestamos] ([id_prestamo], [id_libro], [id_usuario], [fecha_prestamo], [fecha_devolucion]) VALUES (2, 5, 12, CAST(N'2023-02-10' AS Date), CAST(N'2023-02-24' AS Date))
INSERT [dbo].[Prestamos] ([id_prestamo], [id_libro], [id_usuario], [fecha_prestamo], [fecha_devolucion]) VALUES (3, 10, 5, CAST(N'2023-03-05' AS Date), CAST(N'2023-03-19' AS Date))
SET IDENTITY_INSERT [dbo].[Prestamos] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id_usuario], [nombre], [email], [fecha_nacimiento], [fecha_registro]) VALUES (1, N'Alejandro Rojas', N'a.rojas@mail.com', CAST(N'1985-05-12' AS Date), CAST(N'2026-01-26' AS Date))
INSERT [dbo].[Usuarios] ([id_usuario], [nombre], [email], [fecha_nacimiento], [fecha_registro]) VALUES (2, N'Mariana Costa', N'm.costa@provider.net', CAST(N'1992-08-24' AS Date), CAST(N'2026-01-26' AS Date))
INSERT [dbo].[Usuarios] ([id_usuario], [nombre], [email], [fecha_nacimiento], [fecha_registro]) VALUES (3, N'Roberto Soler', N'rsoler88@webmail.org', CAST(N'1988-11-02' AS Date), CAST(N'2026-01-26' AS Date))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Libros__99F9D0A462DB2A1D]    Script Date: 28/01/2026 8:17:11 ******/
ALTER TABLE [dbo].[Libros] ADD UNIQUE NONCLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__AB6E61643A31F8FC]    Script Date: 28/01/2026 8:17:11 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ__Usuarios__AB6E61643A31F8FC] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Libros]  WITH CHECK ADD FOREIGN KEY([id_autor])
REFERENCES [dbo].[Autores] ([id_autor])
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD FOREIGN KEY([id_libro])
REFERENCES [dbo].[Libros] ([id_libro])
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK__Prestamos__id_us__2D27B809] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK__Prestamos__id_us__2D27B809]
GO
USE [master]
GO
