USE [Peliculas]
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 19/02/2026 19:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor](
	[CodActor] [nvarchar](10) NOT NULL,
	[NombreActor] [nvarchar](100) NOT NULL,
	[FNacimimiento] [datetime] NULL,
	[PaisOrigen] [nvarchar](20) NULL,
	[Sexo] [nvarchar](1) NULL,
 CONSTRAINT [PK_Actor] PRIMARY KEY CLUSTERED 
(
	[CodActor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actor_Pelicula]    Script Date: 07/03/2025 6:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor_Pelicula](
	[CodActor] [nvarchar](10) NOT NULL,
	[CodPelicula] [nvarchar](10) NOT NULL,
	[Personaje] [nvarchar](100) NULL,
	[Idioma] [nvarchar](50) NULL,
	[Sueldo] [decimal](18, 0) NULL,
	[TipoPapel] [nchar](20) NULL,
 CONSTRAINT [PK_Actor_Pelicula] PRIMARY KEY CLUSTERED 
(
	[CodActor] ASC,
	[CodPelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Director]    Script Date: 07/03/2025 6:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Director](
	[CodDirector] [nvarchar](10) NOT NULL,
	[NombreDirector] [nvarchar](100) NOT NULL,
	[FNacimiento] [date] NULL,
	[PaisOrigen] [nvarchar](50) NULL,
	[Sexo] [nvarchar](1) NULL,
 CONSTRAINT [PK_Director] PRIMARY KEY CLUSTERED 
(
	[CodDirector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 07/03/2025 6:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[CodGenero] [nvarchar](5) NOT NULL,
	[NombreGenero] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genero] PRIMARY KEY CLUSTERED 
(
	[CodGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 07/03/2025 6:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[CodPelicula] [nvarchar](10) NOT NULL,
	[NombrePelicula] [nvarchar](100) NOT NULL,
	[Duracion] [int] NULL,
	[TituloOriginal] [nvarchar](100) NULL,
	[PaisOrigen] [nvarchar](20) NULL,
	[CodGenero] [nvarchar](5) NULL,
	[CodDirector] [nvarchar](10) NULL,
 CONSTRAINT [PK_Pelicula] PRIMARY KEY CLUSTERED 
(
	[CodPelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Actor] ([CodActor], [NombreActor], [FNacimimiento], [PaisOrigen], [Sexo]) VALUES (N'AGPA', N'Agustín Pardella', CAST(N'1994-01-12T00:00:00.000' AS DateTime), N'Argentina', N'H')
INSERT [dbo].[Actor] ([CodActor], [NombreActor], [FNacimimiento], [PaisOrigen], [Sexo]) VALUES (N'ALCA', N'Alfonsina Carrocio', CAST(N'1999-01-01T00:00:00.000' AS DateTime), N'Uruguay', N'M')
INSERT [dbo].[Actor] ([CodActor], [NombreActor], [FNacimimiento], [PaisOrigen], [Sexo]) VALUES (N'AMFE', N'América Ferrera', CAST(N'1984-04-18T00:00:00.000' AS DateTime), N'Estados Unidos', N'M')
INSERT [dbo].[Actor_Pelicula] ([CodActor], [CodPelicula], [Personaje], [Idioma], [Sueldo], [TipoPapel]) VALUES (N'AGPA', N'SOCNIE', N'Nando Parrado', N'Español', CAST(150000 AS Decimal(18, 0)), N'Principal           ')
INSERT [dbo].[Actor_Pelicula] ([CodActor], [CodPelicula], [Personaje], [Idioma], [Sueldo], [TipoPapel]) VALUES (N'ALCA', N'SOCNIE', N'Susana Parrado', N'Español', CAST(50000 AS Decimal(18, 0)), N'Secundario          ')
INSERT [dbo].[Actor_Pelicula] ([CodActor], [CodPelicula], [Personaje], [Idioma], [Sueldo], [TipoPapel]) VALUES (N'AMFE', N'BARBIE', N'Gloria', N'Inglés', CAST(260000 AS Decimal(18, 0)), N'Principal           ')
INSERT [dbo].[Director] ([CodDirector], [NombreDirector], [FNacimiento], [PaisOrigen], [Sexo]) VALUES (N'CHMC', N'Christopher McQuarrie', CAST(N'1968-10-25' AS Date), N'Estados Unidos', N'H')
INSERT [dbo].[Director] ([CodDirector], [NombreDirector], [FNacimiento], [PaisOrigen], [Sexo]) VALUES (N'GRGE', N'Greta Gerwig', CAST(N'1983-08-04' AS Date), N'Estados Unidos', N'M')
INSERT [dbo].[Director] ([CodDirector], [NombreDirector], [FNacimiento], [PaisOrigen], [Sexo]) VALUES (N'JABA', N'Juan Antonio Bayona', CAST(N'1975-05-09' AS Date), N'España', N'H')
INSERT [dbo].[Genero] ([CodGenero], [NombreGenero]) VALUES (N'ACCI', N'Acción')
INSERT [dbo].[Genero] ([CodGenero], [NombreGenero]) VALUES (N'AVEN', N'Aventura')
INSERT [dbo].[Genero] ([CodGenero], [NombreGenero]) VALUES (N'CATA', N'Catástrofe')
INSERT [dbo].[Pelicula] ([CodPelicula], [NombrePelicula], [Duracion], [TituloOriginal], [PaisOrigen], [CodGenero], [CodDirector]) VALUES (N'BARBIE', N'Barbie', 114, N'Barbie', N'Estados Unidos', N'COME', N'GRGE')
INSERT [dbo].[Pelicula] ([CodPelicula], [NombrePelicula], [Duracion], [TituloOriginal], [PaisOrigen], [CodGenero], [CodDirector]) VALUES (N'LOIMPO', N'Lo imposible', 107, N' Lo imposible (The Impossible)', N'España', N'DRAM', N'JABA')
INSERT [dbo].[Pelicula] ([CodPelicula], [NombrePelicula], [Duracion], [TituloOriginal], [PaisOrigen], [CodGenero], [CodDirector]) VALUES (N'MI7PA1', N'Misión Imposible 7: Sentencia mortal. Parte 1', 163, N'Mission: Impossible - Dead Reckoning', N'Estados Unidos', N'ACCI', N'CHMC')
ALTER TABLE [dbo].[Actor_Pelicula]  WITH CHECK ADD  CONSTRAINT [FK_Actor_Pelicula_Actor] FOREIGN KEY([CodActor])
REFERENCES [dbo].[Actor] ([CodActor])
GO
ALTER TABLE [dbo].[Actor_Pelicula] CHECK CONSTRAINT [FK_Actor_Pelicula_Actor]
GO
ALTER TABLE [dbo].[Actor_Pelicula]  WITH CHECK ADD  CONSTRAINT [FK_Actor_Pelicula_Pelicula] FOREIGN KEY([CodPelicula])
REFERENCES [dbo].[Pelicula] ([CodPelicula])
GO
ALTER TABLE [dbo].[Actor_Pelicula] CHECK CONSTRAINT [FK_Actor_Pelicula_Pelicula]
GO
ALTER TABLE [dbo].[Pelicula]  WITH CHECK ADD  CONSTRAINT [FK_Pelicula_Director] FOREIGN KEY([CodDirector])
REFERENCES [dbo].[Director] ([CodDirector])
GO
ALTER TABLE [dbo].[Pelicula] CHECK CONSTRAINT [FK_Pelicula_Director]
GO
ALTER TABLE [dbo].[Pelicula]  WITH CHECK ADD  CONSTRAINT [FK_Pelicula_Genero] FOREIGN KEY([CodGenero])
REFERENCES [dbo].[Genero] ([CodGenero])
GO
ALTER TABLE [dbo].[Pelicula] CHECK CONSTRAINT [FK_Pelicula_Genero]
GO
USE [master]
GO
