/*USE [master]
GO
/****** Object:  Database [Proyectos]    Script Date: 28/01/2026 8:19:54 ******/
CREATE DATABASE [Proyectos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proyectos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Proyectos.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Proyectos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Proyectos_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proyectos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
*/USE [Proyectos]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 28/01/2026 8:19:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[cif] [varchar](15) NULL,
	[nombre_empresa] [varchar](150) NOT NULL,
	[contacto_nombre] [varchar](100) NULL,
	[email_contacto] [varchar](100) NULL,
	[fecha_alta] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipo]    Script Date: 28/01/2026 8:19:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipo](
	[id_proyecto] [int] NOT NULL,
	[id_empleado] [int] NOT NULL,
	[rol_en_proyecto] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proyecto] ASC,
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 28/01/2026 8:19:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[dni_nie] [varchar](20) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[rol] [varchar](50) NULL,
	[salario] [decimal](10, 2) NULL,
	[email] [varchar](100) NULL,
	[fecha_contratacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proyectos]    Script Date: 28/01/2026 8:19:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyectos](
	[id_proyecto] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NULL,
	[nombre_proyecto] [varchar](150) NOT NULL,
	[descripcion] [text] NULL,
	[fecha_inicio] [date] NULL,
	[fecha_entrega_estimada] [date] NULL,
	[estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registro_Tiempo]    Script Date: 28/01/2026 8:19:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registro_Tiempo](
	[id_registro] [int] IDENTITY(1,1) NOT NULL,
	[id_tarea] [int] NULL,
	[id_empleado] [int] NULL,
	[fecha_trabajo] [date] NULL,
	[horas_reales] [decimal](5, 2) NULL,
	[comentario] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sprints]    Script Date: 28/01/2026 8:19:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sprints](
	[id_sprint] [int] IDENTITY(1,1) NOT NULL,
	[id_proyecto] [int] NULL,
	[nombre_sprint] [varchar](50) NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
	[objetivo] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sprint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 28/01/2026 8:19:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[id_tarea] [int] IDENTITY(1,1) NOT NULL,
	[id_sprint] [int] NULL,
	[id_empleado_asignado] [int] NULL,
	[titulo] [varchar](200) NOT NULL,
	[prioridad] [varchar](15) NULL,
	[estado_tarea] [varchar](20) NULL,
	[horas_estimadas] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([id_cliente], [cif], [nombre_empresa], [contacto_nombre], [email_contacto], [fecha_alta]) VALUES (1, N'A1234567B', N'Tech Solutions SL', N'Carlos Ruiz', N'c.ruiz@techsol.com', CAST(N'2023-01-10' AS Date))
INSERT [dbo].[Clientes] ([id_cliente], [cif], [nombre_empresa], [contacto_nombre], [email_contacto], [fecha_alta]) VALUES (2, N'B9876543C', N'Global Dev Corp', N'Marta García', N'marta.g@globaldev.com', CAST(N'2023-02-15' AS Date))
INSERT [dbo].[Clientes] ([id_cliente], [cif], [nombre_empresa], [contacto_nombre], [email_contacto], [fecha_alta]) VALUES (3, N'G1122334D', N'Finanza Digital', N'Juan López', N'j.lopez@finanza.es', CAST(N'2023-03-20' AS Date))
SET IDENTITY_INSERT [dbo].[Clientes] OFF
INSERT [dbo].[Equipo] ([id_proyecto], [id_empleado], [rol_en_proyecto]) VALUES (1, 1, N'Project Lead')
INSERT [dbo].[Equipo] ([id_proyecto], [id_empleado], [rol_en_proyecto]) VALUES (1, 2, N'Backend')
INSERT [dbo].[Equipo] ([id_proyecto], [id_empleado], [rol_en_proyecto]) VALUES (1, 3, N'Frontend')
SET IDENTITY_INSERT [dbo].[Personal] ON 

INSERT [dbo].[Personal] ([id_empleado], [dni_nie], [nombre], [rol], [salario], [email], [fecha_contratacion]) VALUES (1, N'12345678A', N'Alberto Gómez', N'Project Manager', CAST(4500.00 AS Decimal(10, 2)), N'alberto@empresa.com', CAST(N'2022-01-10' AS Date))
INSERT [dbo].[Personal] ([id_empleado], [dni_nie], [nombre], [rol], [salario], [email], [fecha_contratacion]) VALUES (2, N'23456789B', N'Beatriz Ruiz', N'Backend Dev', CAST(3800.00 AS Decimal(10, 2)), N'beatriz@empresa.com', CAST(N'2022-02-15' AS Date))
INSERT [dbo].[Personal] ([id_empleado], [dni_nie], [nombre], [rol], [salario], [email], [fecha_contratacion]) VALUES (3, N'34567890C', N'Carlos Marín', N'Frontend Dev', CAST(3500.00 AS Decimal(10, 2)), N'carlos@empresa.com', CAST(N'2022-03-20' AS Date))
SET IDENTITY_INSERT [dbo].[Personal] OFF
SET IDENTITY_INSERT [dbo].[Proyectos] ON 

INSERT [dbo].[Proyectos] ([id_proyecto], [id_cliente], [nombre_proyecto], [descripcion], [fecha_inicio], [fecha_entrega_estimada], [estado]) VALUES (1, 1, N'ERP Tech', N'Desarrollo ERP interno', CAST(N'2023-02-01' AS Date), CAST(N'2024-01-01' AS Date), N'Finalizado')
INSERT [dbo].[Proyectos] ([id_proyecto], [id_cliente], [nombre_proyecto], [descripcion], [fecha_inicio], [fecha_entrega_estimada], [estado]) VALUES (2, 2, N'Global CRM', N'Gestión de clientes global', CAST(N'2023-03-01' AS Date), CAST(N'2023-12-30' AS Date), N'Finalizado')
INSERT [dbo].[Proyectos] ([id_proyecto], [id_cliente], [nombre_proyecto], [descripcion], [fecha_inicio], [fecha_entrega_estimada], [estado]) VALUES (3, 3, N'Wallet Crypto', N'Billetera digital', CAST(N'2023-04-15' AS Date), CAST(N'2024-05-15' AS Date), N'Desarrollo')
SET IDENTITY_INSERT [dbo].[Proyectos] OFF
SET IDENTITY_INSERT [dbo].[Registro_Tiempo] ON 

INSERT [dbo].[Registro_Tiempo] ([id_registro], [id_tarea], [id_empleado], [fecha_trabajo], [horas_reales], [comentario]) VALUES (3, 1, 2, CAST(N'2023-02-05' AS Date), CAST(4.50 AS Decimal(5, 2)), N'Esquemas iniciales')
INSERT [dbo].[Registro_Tiempo] ([id_registro], [id_tarea], [id_empleado], [fecha_trabajo], [horas_reales], [comentario]) VALUES (4, 1, 2, CAST(N'2023-02-06' AS Date), CAST(5.50 AS Decimal(5, 2)), N'Relaciones terminadas')
INSERT [dbo].[Registro_Tiempo] ([id_registro], [id_tarea], [id_empleado], [fecha_trabajo], [horas_reales], [comentario]) VALUES (5, 2, 3, CAST(N'2023-02-07' AS Date), CAST(8.00 AS Decimal(5, 2)), N'Login responsive')
SET IDENTITY_INSERT [dbo].[Registro_Tiempo] OFF
SET IDENTITY_INSERT [dbo].[Sprints] ON 

INSERT [dbo].[Sprints] ([id_sprint], [id_proyecto], [nombre_sprint], [fecha_inicio], [fecha_fin], [objetivo]) VALUES (1, 1, N'Sprint 1', CAST(N'2023-02-01' AS Date), CAST(N'2023-02-15' AS Date), N'Definición DB')
INSERT [dbo].[Sprints] ([id_sprint], [id_proyecto], [nombre_sprint], [fecha_inicio], [fecha_fin], [objetivo]) VALUES (2, 1, N'Sprint 2', CAST(N'2023-02-16' AS Date), CAST(N'2023-03-01' AS Date), N'API Base')
INSERT [dbo].[Sprints] ([id_sprint], [id_proyecto], [nombre_sprint], [fecha_inicio], [fecha_fin], [objetivo]) VALUES (3, 2, N'Sprint 1', CAST(N'2023-03-01' AS Date), CAST(N'2023-03-15' AS Date), N'Auth System')
SET IDENTITY_INSERT [dbo].[Sprints] OFF
SET IDENTITY_INSERT [dbo].[Tareas] ON 

INSERT [dbo].[Tareas] ([id_tarea], [id_sprint], [id_empleado_asignado], [titulo], [prioridad], [estado_tarea], [horas_estimadas]) VALUES (1, 1, 2, N'Diseñar esquemas', N'Alta', N'Done', CAST(10.00 AS Decimal(5, 2)))
INSERT [dbo].[Tareas] ([id_tarea], [id_sprint], [id_empleado_asignado], [titulo], [prioridad], [estado_tarea], [horas_estimadas]) VALUES (2, 1, 3, N'Maquetar Login', N'Media', N'Done', CAST(8.00 AS Decimal(5, 2)))
INSERT [dbo].[Tareas] ([id_tarea], [id_sprint], [id_empleado_asignado], [titulo], [prioridad], [estado_tarea], [horas_estimadas]) VALUES (3, 2, 2, N'Endpoints Clientes', N'Alta', N'Done', CAST(12.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Tareas] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__2D376E5A30017DA9]    Script Date: 28/01/2026 8:19:55 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[email_contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__D837D05C35D13258]    Script Date: 28/01/2026 8:19:55 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[cif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Personal__A672AA4745E1569C]    Script Date: 28/01/2026 8:19:55 ******/
ALTER TABLE [dbo].[Personal] ADD UNIQUE NONCLUSTERED 
(
	[dni_nie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Personal__AB6E6164CB90B48C]    Script Date: 28/01/2026 8:19:55 ******/
ALTER TABLE [dbo].[Personal] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [fecha_alta]
GO
ALTER TABLE [dbo].[Registro_Tiempo] ADD  DEFAULT (getdate()) FOR [fecha_trabajo]
GO
ALTER TABLE [dbo].[Equipo]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Personal] ([id_empleado])
GO
ALTER TABLE [dbo].[Equipo]  WITH CHECK ADD FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[Proyectos] ([id_proyecto])
GO
ALTER TABLE [dbo].[Proyectos]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Registro_Tiempo]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Personal] ([id_empleado])
GO
ALTER TABLE [dbo].[Registro_Tiempo]  WITH CHECK ADD FOREIGN KEY([id_tarea])
REFERENCES [dbo].[Tareas] ([id_tarea])
GO
ALTER TABLE [dbo].[Sprints]  WITH CHECK ADD FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[Proyectos] ([id_proyecto])
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD FOREIGN KEY([id_empleado_asignado])
REFERENCES [dbo].[Personal] ([id_empleado])
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD FOREIGN KEY([id_sprint])
REFERENCES [dbo].[Sprints] ([id_sprint])
GO
ALTER TABLE [dbo].[Proyectos]  WITH CHECK ADD CHECK  (([estado]='Pausa' OR [estado]='Finalizado' OR [estado]='Pruebas' OR [estado]='Desarrollo' OR [estado]='Planificación'))
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD CHECK  (([estado_tarea]='Done' OR [estado_tarea]='Testing' OR [estado_tarea]='In Progress' OR [estado_tarea]='To Do'))
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD CHECK  (([prioridad]='Crítica' OR [prioridad]='Alta' OR [prioridad]='Media' OR [prioridad]='Baja'))
GO
USE [master]
GO
